@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@layer base {
  h1 {
    @apply text-2xl font-semibold mb-6;
  }
  h2 {
    @apply text-xl font-semibold mb-4;
  }
  h3 {
    @apply text-lg font-semibold mb-2;
  }
  flex {
    @apply flex flex-col flex-1 overflow-x-hidden overflow-y-scroll;
  }
  grid {
    @apply grid grid-cols-12 gap-6 max-w-full mx-auto mb-6;
  }
}

