@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Nunito Sans";
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #dce1e7; /* Light grey or subtle gradient */
}

/* Handle (draggable part) */
::-webkit-scrollbar-thumb {
  background: #6377af;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2d3748; /* Slightly darker on hover */
}
